.style_card_login{
    background-color: hsl(200, 13%, 95%);

}
.card{
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 20%;
    margin-right: 10%;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px 2px rgb(32, 44, 94);

}

body{
    background-color: rgb(46, 95, 168);

}
