.style_card_login{
    background-color: hsl(200, 13%, 95%);

}
.card{
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 10%;
    margin-right: 20%;
    box-shadow: 2px 2px 2px 2px rgb(180, 129, 18);

}
