.style_card_login{
    background-color: hsl(200, 13%, 95%);

}
.card{
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px 2px rgb(180, 129, 18);

}

body{
    background-color: rgba(255, 192, 57, 0.692);

}
