.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
}
.container_index{
    margin-top: 20%;
    margin-bottom: 20%;
    height: 25vh;
}
.logo_index{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.logo_IFCE{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-color{
    background-color: #ffffff;

}
