.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}


.content {
    text-align: center;
}
.logo{
    width: 80%;
}
.bg-color{
    /* background-image: url('../images/bgtest2.jpg');
    background-size: cover;
    -webkit-backdrop-filter: blur(50px); */
    background-color: #212529;
    height: 100vh;
}

