.logo{
    width: 70%;
}
.color-navbar{
    background-color: hsl(200, 13%, 95%);
    box-shadow: 0px 3px rgb(180, 129, 18);
    margin-bottom: 50px;
}

.foot{
    background-color: #ffbe39 !important;
    margin-top: 5%;
}


