.logo{
    margin-top: -17px;
    z-index: 50;
    margin-left: -42px;
    position: absolute;
}
.color-navbar{
    background-color: hsl(0, 0%, 100%);
}

.navbar{
    position: relative;
    padding: .5rem 1rem;
    z-index:1;
}

.foot{
    background-color: #ffbe39bd;
    margin-top: 5%;
    color: black;
}
.footer_copyright{
    background-color: #e2b04bbd;
}

.texto{
    line-height:1.3;
}
.body_space{
    margin-top: 5%;
}
body{
    background-color: rgb(46, 95, 168) !important;
}
.titulo{
    margin-top: 2%;
    color: white;
}

@media (max-width: 770px) {
    .botão{
        margin-left: 150px;
    }
    .logo{
        width: 515%;
        margin-top: 4px;
        z-index: 50;
        margin-left: -90px;
        position: absolute;
    }
    .row {
        margin-left: 70px !important;
    }
}

